<nav>
    <div class="logo"></div>
    <div class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/launches">Launches</a></li>
            <li><a href="/lauches/about">About</a></li>
        </ul>
    </div>
</nav>